<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h2>Gold: {{gold}}</h2>
      </div>
      <div class="row">
        <div class="col">
          <h2>Farm</h2>
          <a href="process_money?location=farm">Find Gold!</a>
        </div>
        <div class="col">
          <h2>Cave</h2>
          <a href="process_money?location=cave">Find Gold!</a>
        </div>
        <div class="col">
          <h2>House</h2>
          <a href="process_money?location=house">Find Gold!</a>
        </div>
        <div class="col">
          <h2>Casino</h2>
          <a href="process_money?location=casino">Find Gold!</a>
        </div>
      </div>
      {% for activity in activities %}
        <div class="row">
        <span class="{% if activity.earned < 0 %}lost_money{% else %}gained_money{% endif %}">
            {% if activity.earned < 0 %}Lost{% else %}Earned{% endif %} {{activity.abs}} gold at the {{activity.location}}
        </span>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
